/*
GitHub v3 REST API

GitHub's v3 REST API.

API version: 1.1.4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package github

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// TeamsApiService TeamsApi service
type TeamsApiService service

type ApiTeamsAddMemberLegacyRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	teamId int32
	username string
}

func (r ApiTeamsAddMemberLegacyRequest) Execute() (*http.Response, error) {
	return r.ApiService.TeamsAddMemberLegacyExecute(r)
}

/*
TeamsAddMemberLegacy Add team member (Legacy)

The "Add team member" endpoint (described below) is deprecated.

We recommend using the [Add or update team membership for a user](https://docs.github.com/rest/reference/teams#add-or-update-team-membership-for-a-user) endpoint instead. It allows you to invite new organization members to your teams.

Team synchronization is available for organizations using GitHub Enterprise Cloud. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products) in the GitHub Help documentation.

To add someone to a team, the authenticated user must be an organization owner or a team maintainer in the team they're changing. The person being added to the team must be a member of the team's organization.

**Note:** When you have team synchronization set up for a team with your organization's identity provider (IdP), you will see an error if you attempt to use the API for making changes to the team's membership. If you have access to manage group membership in your IdP, you can manage GitHub team membership through your identity provider, which automatically adds and removes team members in an organization. For more information, see "[Synchronizing teams between your identity provider and GitHub](https://docs.github.com/articles/synchronizing-teams-between-your-identity-provider-and-github/)."

Note that you'll need to set `Content-Length` to zero when calling out to this endpoint. For more information, see "[HTTP verbs](https://docs.github.com/rest/overview/resources-in-the-rest-api#http-verbs)."

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param teamId The unique identifier of the team.
 @param username The handle for the GitHub user account.
 @return ApiTeamsAddMemberLegacyRequest

Deprecated
*/
func (a *TeamsApiService) TeamsAddMemberLegacy(ctx context.Context, teamId int32, username string) ApiTeamsAddMemberLegacyRequest {
	return ApiTeamsAddMemberLegacyRequest{
		ApiService: a,
		ctx: ctx,
		teamId: teamId,
		username: username,
	}
}

// Execute executes the request
// Deprecated
func (a *TeamsApiService) TeamsAddMemberLegacyExecute(r ApiTeamsAddMemberLegacyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsAddMemberLegacy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/teams/{team_id}/members/{username}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_id"+"}", url.PathEscape(parameterToString(r.teamId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"username"+"}", url.PathEscape(parameterToString(r.username, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v BasicError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiTeamsAddOrUpdateMembershipForUserInOrgRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	org string
	teamSlug string
	username string
	teamsAddOrUpdateMembershipForUserInOrgRequest *TeamsAddOrUpdateMembershipForUserInOrgRequest
}

func (r ApiTeamsAddOrUpdateMembershipForUserInOrgRequest) TeamsAddOrUpdateMembershipForUserInOrgRequest(teamsAddOrUpdateMembershipForUserInOrgRequest TeamsAddOrUpdateMembershipForUserInOrgRequest) ApiTeamsAddOrUpdateMembershipForUserInOrgRequest {
	r.teamsAddOrUpdateMembershipForUserInOrgRequest = &teamsAddOrUpdateMembershipForUserInOrgRequest
	return r
}

func (r ApiTeamsAddOrUpdateMembershipForUserInOrgRequest) Execute() (*TeamMembership, *http.Response, error) {
	return r.ApiService.TeamsAddOrUpdateMembershipForUserInOrgExecute(r)
}

/*
TeamsAddOrUpdateMembershipForUserInOrg Add or update team membership for a user

Team synchronization is available for organizations using GitHub Enterprise Cloud. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products) in the GitHub Help documentation.

Adds an organization member to a team. An authenticated organization owner or team maintainer can add organization members to a team.

**Note:** When you have team synchronization set up for a team with your organization's identity provider (IdP), you will see an error if you attempt to use the API for making changes to the team's membership. If you have access to manage group membership in your IdP, you can manage GitHub team membership through your identity provider, which automatically adds and removes team members in an organization. For more information, see "[Synchronizing teams between your identity provider and GitHub](https://docs.github.com/articles/synchronizing-teams-between-your-identity-provider-and-github/)."

An organization owner can add someone who is not part of the team's organization to a team. When an organization owner adds someone to a team who is not an organization member, this endpoint will send an invitation to the person via email. This newly-created membership will be in the "pending" state until the person accepts the invitation, at which point the membership will transition to the "active" state and the user will be added as a member of the team.

If the user is already a member of the team, this endpoint will update the role of the team member's role. To update the membership of a team member, the authenticated user must be an organization owner or a team maintainer.

**Note:** You can also specify a team by `org_id` and `team_id` using the route `PUT /organizations/{org_id}/team/{team_id}/memberships/{username}`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param org The organization name. The name is not case sensitive.
 @param teamSlug The slug of the team name.
 @param username The handle for the GitHub user account.
 @return ApiTeamsAddOrUpdateMembershipForUserInOrgRequest
*/
func (a *TeamsApiService) TeamsAddOrUpdateMembershipForUserInOrg(ctx context.Context, org string, teamSlug string, username string) ApiTeamsAddOrUpdateMembershipForUserInOrgRequest {
	return ApiTeamsAddOrUpdateMembershipForUserInOrgRequest{
		ApiService: a,
		ctx: ctx,
		org: org,
		teamSlug: teamSlug,
		username: username,
	}
}

// Execute executes the request
//  @return TeamMembership
func (a *TeamsApiService) TeamsAddOrUpdateMembershipForUserInOrgExecute(r ApiTeamsAddOrUpdateMembershipForUserInOrgRequest) (*TeamMembership, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TeamMembership
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsAddOrUpdateMembershipForUserInOrg")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orgs/{org}/teams/{team_slug}/memberships/{username}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterToString(r.org, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"team_slug"+"}", url.PathEscape(parameterToString(r.teamSlug, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"username"+"}", url.PathEscape(parameterToString(r.username, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsAddOrUpdateMembershipForUserInOrgRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsAddOrUpdateMembershipForUserLegacyRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	teamId int32
	username string
	teamsAddOrUpdateMembershipForUserInOrgRequest *TeamsAddOrUpdateMembershipForUserInOrgRequest
}

func (r ApiTeamsAddOrUpdateMembershipForUserLegacyRequest) TeamsAddOrUpdateMembershipForUserInOrgRequest(teamsAddOrUpdateMembershipForUserInOrgRequest TeamsAddOrUpdateMembershipForUserInOrgRequest) ApiTeamsAddOrUpdateMembershipForUserLegacyRequest {
	r.teamsAddOrUpdateMembershipForUserInOrgRequest = &teamsAddOrUpdateMembershipForUserInOrgRequest
	return r
}

func (r ApiTeamsAddOrUpdateMembershipForUserLegacyRequest) Execute() (*TeamMembership, *http.Response, error) {
	return r.ApiService.TeamsAddOrUpdateMembershipForUserLegacyExecute(r)
}

/*
TeamsAddOrUpdateMembershipForUserLegacy Add or update team membership for a user (Legacy)

**Deprecation Notice:** This endpoint route is deprecated and will be removed from the Teams API. We recommend migrating your existing code to use the new [Add or update team membership for a user](https://docs.github.com/rest/reference/teams#add-or-update-team-membership-for-a-user) endpoint.

Team synchronization is available for organizations using GitHub Enterprise Cloud. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products) in the GitHub Help documentation.

If the user is already a member of the team's organization, this endpoint will add the user to the team. To add a membership between an organization member and a team, the authenticated user must be an organization owner or a team maintainer.

**Note:** When you have team synchronization set up for a team with your organization's identity provider (IdP), you will see an error if you attempt to use the API for making changes to the team's membership. If you have access to manage group membership in your IdP, you can manage GitHub team membership through your identity provider, which automatically adds and removes team members in an organization. For more information, see "[Synchronizing teams between your identity provider and GitHub](https://docs.github.com/articles/synchronizing-teams-between-your-identity-provider-and-github/)."

If the user is unaffiliated with the team's organization, this endpoint will send an invitation to the user via email. This newly-created membership will be in the "pending" state until the user accepts the invitation, at which point the membership will transition to the "active" state and the user will be added as a member of the team. To add a membership between an unaffiliated user and a team, the authenticated user must be an organization owner.

If the user is already a member of the team, this endpoint will update the role of the team member's role. To update the membership of a team member, the authenticated user must be an organization owner or a team maintainer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param teamId The unique identifier of the team.
 @param username The handle for the GitHub user account.
 @return ApiTeamsAddOrUpdateMembershipForUserLegacyRequest

Deprecated
*/
func (a *TeamsApiService) TeamsAddOrUpdateMembershipForUserLegacy(ctx context.Context, teamId int32, username string) ApiTeamsAddOrUpdateMembershipForUserLegacyRequest {
	return ApiTeamsAddOrUpdateMembershipForUserLegacyRequest{
		ApiService: a,
		ctx: ctx,
		teamId: teamId,
		username: username,
	}
}

// Execute executes the request
//  @return TeamMembership
// Deprecated
func (a *TeamsApiService) TeamsAddOrUpdateMembershipForUserLegacyExecute(r ApiTeamsAddOrUpdateMembershipForUserLegacyRequest) (*TeamMembership, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TeamMembership
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsAddOrUpdateMembershipForUserLegacy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/teams/{team_id}/memberships/{username}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_id"+"}", url.PathEscape(parameterToString(r.teamId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"username"+"}", url.PathEscape(parameterToString(r.username, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsAddOrUpdateMembershipForUserInOrgRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v BasicError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsAddOrUpdateProjectPermissionsInOrgRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	org string
	teamSlug string
	projectId int32
	teamsAddOrUpdateProjectPermissionsInOrgRequest *TeamsAddOrUpdateProjectPermissionsInOrgRequest
}

func (r ApiTeamsAddOrUpdateProjectPermissionsInOrgRequest) TeamsAddOrUpdateProjectPermissionsInOrgRequest(teamsAddOrUpdateProjectPermissionsInOrgRequest TeamsAddOrUpdateProjectPermissionsInOrgRequest) ApiTeamsAddOrUpdateProjectPermissionsInOrgRequest {
	r.teamsAddOrUpdateProjectPermissionsInOrgRequest = &teamsAddOrUpdateProjectPermissionsInOrgRequest
	return r
}

func (r ApiTeamsAddOrUpdateProjectPermissionsInOrgRequest) Execute() (*http.Response, error) {
	return r.ApiService.TeamsAddOrUpdateProjectPermissionsInOrgExecute(r)
}

/*
TeamsAddOrUpdateProjectPermissionsInOrg Add or update team project permissions

Adds an organization project to a team. To add a project to a team or update the team's permission on a project, the authenticated user must have `admin` permissions for the project. The project and team must be part of the same organization.

**Note:** You can also specify a team by `org_id` and `team_id` using the route `PUT /organizations/{org_id}/team/{team_id}/projects/{project_id}`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param org The organization name. The name is not case sensitive.
 @param teamSlug The slug of the team name.
 @param projectId The unique identifier of the project.
 @return ApiTeamsAddOrUpdateProjectPermissionsInOrgRequest
*/
func (a *TeamsApiService) TeamsAddOrUpdateProjectPermissionsInOrg(ctx context.Context, org string, teamSlug string, projectId int32) ApiTeamsAddOrUpdateProjectPermissionsInOrgRequest {
	return ApiTeamsAddOrUpdateProjectPermissionsInOrgRequest{
		ApiService: a,
		ctx: ctx,
		org: org,
		teamSlug: teamSlug,
		projectId: projectId,
	}
}

// Execute executes the request
func (a *TeamsApiService) TeamsAddOrUpdateProjectPermissionsInOrgExecute(r ApiTeamsAddOrUpdateProjectPermissionsInOrgRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsAddOrUpdateProjectPermissionsInOrg")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orgs/{org}/teams/{team_slug}/projects/{project_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterToString(r.org, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"team_slug"+"}", url.PathEscape(parameterToString(r.teamSlug, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterToString(r.projectId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsAddOrUpdateProjectPermissionsInOrgRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v OrgsRemoveOutsideCollaborator422Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiTeamsAddOrUpdateProjectPermissionsLegacyRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	teamId int32
	projectId int32
	teamsAddOrUpdateProjectPermissionsLegacyRequest *TeamsAddOrUpdateProjectPermissionsLegacyRequest
}

func (r ApiTeamsAddOrUpdateProjectPermissionsLegacyRequest) TeamsAddOrUpdateProjectPermissionsLegacyRequest(teamsAddOrUpdateProjectPermissionsLegacyRequest TeamsAddOrUpdateProjectPermissionsLegacyRequest) ApiTeamsAddOrUpdateProjectPermissionsLegacyRequest {
	r.teamsAddOrUpdateProjectPermissionsLegacyRequest = &teamsAddOrUpdateProjectPermissionsLegacyRequest
	return r
}

func (r ApiTeamsAddOrUpdateProjectPermissionsLegacyRequest) Execute() (*http.Response, error) {
	return r.ApiService.TeamsAddOrUpdateProjectPermissionsLegacyExecute(r)
}

/*
TeamsAddOrUpdateProjectPermissionsLegacy Add or update team project permissions (Legacy)

**Deprecation Notice:** This endpoint route is deprecated and will be removed from the Teams API. We recommend migrating your existing code to use the new [Add or update team project permissions](https://docs.github.com/rest/reference/teams#add-or-update-team-project-permissions) endpoint.

Adds an organization project to a team. To add a project to a team or update the team's permission on a project, the authenticated user must have `admin` permissions for the project. The project and team must be part of the same organization.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param teamId The unique identifier of the team.
 @param projectId The unique identifier of the project.
 @return ApiTeamsAddOrUpdateProjectPermissionsLegacyRequest

Deprecated
*/
func (a *TeamsApiService) TeamsAddOrUpdateProjectPermissionsLegacy(ctx context.Context, teamId int32, projectId int32) ApiTeamsAddOrUpdateProjectPermissionsLegacyRequest {
	return ApiTeamsAddOrUpdateProjectPermissionsLegacyRequest{
		ApiService: a,
		ctx: ctx,
		teamId: teamId,
		projectId: projectId,
	}
}

// Execute executes the request
// Deprecated
func (a *TeamsApiService) TeamsAddOrUpdateProjectPermissionsLegacyExecute(r ApiTeamsAddOrUpdateProjectPermissionsLegacyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsAddOrUpdateProjectPermissionsLegacy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/teams/{team_id}/projects/{project_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_id"+"}", url.PathEscape(parameterToString(r.teamId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterToString(r.projectId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsAddOrUpdateProjectPermissionsLegacyRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v OrgsRemoveOutsideCollaborator422Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v BasicError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiTeamsAddOrUpdateRepoPermissionsInOrgRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	org string
	teamSlug string
	owner string
	repo string
	teamsAddOrUpdateRepoPermissionsInOrgRequest *TeamsAddOrUpdateRepoPermissionsInOrgRequest
}

func (r ApiTeamsAddOrUpdateRepoPermissionsInOrgRequest) TeamsAddOrUpdateRepoPermissionsInOrgRequest(teamsAddOrUpdateRepoPermissionsInOrgRequest TeamsAddOrUpdateRepoPermissionsInOrgRequest) ApiTeamsAddOrUpdateRepoPermissionsInOrgRequest {
	r.teamsAddOrUpdateRepoPermissionsInOrgRequest = &teamsAddOrUpdateRepoPermissionsInOrgRequest
	return r
}

func (r ApiTeamsAddOrUpdateRepoPermissionsInOrgRequest) Execute() (*http.Response, error) {
	return r.ApiService.TeamsAddOrUpdateRepoPermissionsInOrgExecute(r)
}

/*
TeamsAddOrUpdateRepoPermissionsInOrg Add or update team repository permissions

To add a repository to a team or update the team's permission on a repository, the authenticated user must have admin access to the repository, and must be able to see the team. The repository must be owned by the organization, or a direct fork of a repository owned by the organization. You will get a `422 Unprocessable Entity` status if you attempt to add a repository to a team that is not owned by the organization. Note that, if you choose not to pass any parameters, you'll need to set `Content-Length` to zero when calling out to this endpoint. For more information, see "[HTTP verbs](https://docs.github.com/rest/overview/resources-in-the-rest-api#http-verbs)."

**Note:** You can also specify a team by `org_id` and `team_id` using the route `PUT /organizations/{org_id}/team/{team_id}/repos/{owner}/{repo}`.

For more information about the permission levels, see "[Repository permission levels for an organization](https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization#permission-levels-for-repositories-owned-by-an-organization)".

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param org The organization name. The name is not case sensitive.
 @param teamSlug The slug of the team name.
 @param owner The account owner of the repository. The name is not case sensitive.
 @param repo The name of the repository. The name is not case sensitive.
 @return ApiTeamsAddOrUpdateRepoPermissionsInOrgRequest
*/
func (a *TeamsApiService) TeamsAddOrUpdateRepoPermissionsInOrg(ctx context.Context, org string, teamSlug string, owner string, repo string) ApiTeamsAddOrUpdateRepoPermissionsInOrgRequest {
	return ApiTeamsAddOrUpdateRepoPermissionsInOrgRequest{
		ApiService: a,
		ctx: ctx,
		org: org,
		teamSlug: teamSlug,
		owner: owner,
		repo: repo,
	}
}

// Execute executes the request
func (a *TeamsApiService) TeamsAddOrUpdateRepoPermissionsInOrgExecute(r ApiTeamsAddOrUpdateRepoPermissionsInOrgRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsAddOrUpdateRepoPermissionsInOrg")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orgs/{org}/teams/{team_slug}/repos/{owner}/{repo}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterToString(r.org, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"team_slug"+"}", url.PathEscape(parameterToString(r.teamSlug, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"owner"+"}", url.PathEscape(parameterToString(r.owner, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterToString(r.repo, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsAddOrUpdateRepoPermissionsInOrgRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiTeamsAddOrUpdateRepoPermissionsLegacyRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	teamId int32
	owner string
	repo string
	teamsAddOrUpdateRepoPermissionsLegacyRequest *TeamsAddOrUpdateRepoPermissionsLegacyRequest
}

func (r ApiTeamsAddOrUpdateRepoPermissionsLegacyRequest) TeamsAddOrUpdateRepoPermissionsLegacyRequest(teamsAddOrUpdateRepoPermissionsLegacyRequest TeamsAddOrUpdateRepoPermissionsLegacyRequest) ApiTeamsAddOrUpdateRepoPermissionsLegacyRequest {
	r.teamsAddOrUpdateRepoPermissionsLegacyRequest = &teamsAddOrUpdateRepoPermissionsLegacyRequest
	return r
}

func (r ApiTeamsAddOrUpdateRepoPermissionsLegacyRequest) Execute() (*http.Response, error) {
	return r.ApiService.TeamsAddOrUpdateRepoPermissionsLegacyExecute(r)
}

/*
TeamsAddOrUpdateRepoPermissionsLegacy Add or update team repository permissions (Legacy)

**Deprecation Notice:** This endpoint route is deprecated and will be removed from the Teams API. We recommend migrating your existing code to use the new "[Add or update team repository permissions](https://docs.github.com/rest/reference/teams#add-or-update-team-repository-permissions)" endpoint.

To add a repository to a team or update the team's permission on a repository, the authenticated user must have admin access to the repository, and must be able to see the team. The repository must be owned by the organization, or a direct fork of a repository owned by the organization. You will get a `422 Unprocessable Entity` status if you attempt to add a repository to a team that is not owned by the organization.

Note that, if you choose not to pass any parameters, you'll need to set `Content-Length` to zero when calling out to this endpoint. For more information, see "[HTTP verbs](https://docs.github.com/rest/overview/resources-in-the-rest-api#http-verbs)."

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param teamId The unique identifier of the team.
 @param owner The account owner of the repository. The name is not case sensitive.
 @param repo The name of the repository. The name is not case sensitive.
 @return ApiTeamsAddOrUpdateRepoPermissionsLegacyRequest

Deprecated
*/
func (a *TeamsApiService) TeamsAddOrUpdateRepoPermissionsLegacy(ctx context.Context, teamId int32, owner string, repo string) ApiTeamsAddOrUpdateRepoPermissionsLegacyRequest {
	return ApiTeamsAddOrUpdateRepoPermissionsLegacyRequest{
		ApiService: a,
		ctx: ctx,
		teamId: teamId,
		owner: owner,
		repo: repo,
	}
}

// Execute executes the request
// Deprecated
func (a *TeamsApiService) TeamsAddOrUpdateRepoPermissionsLegacyExecute(r ApiTeamsAddOrUpdateRepoPermissionsLegacyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsAddOrUpdateRepoPermissionsLegacy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/teams/{team_id}/repos/{owner}/{repo}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_id"+"}", url.PathEscape(parameterToString(r.teamId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"owner"+"}", url.PathEscape(parameterToString(r.owner, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterToString(r.repo, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsAddOrUpdateRepoPermissionsLegacyRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v BasicError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiTeamsCheckPermissionsForProjectInOrgRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	org string
	teamSlug string
	projectId int32
}

func (r ApiTeamsCheckPermissionsForProjectInOrgRequest) Execute() (*TeamProject, *http.Response, error) {
	return r.ApiService.TeamsCheckPermissionsForProjectInOrgExecute(r)
}

/*
TeamsCheckPermissionsForProjectInOrg Check team permissions for a project

Checks whether a team has `read`, `write`, or `admin` permissions for an organization project. The response includes projects inherited from a parent team.

**Note:** You can also specify a team by `org_id` and `team_id` using the route `GET /organizations/{org_id}/team/{team_id}/projects/{project_id}`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param org The organization name. The name is not case sensitive.
 @param teamSlug The slug of the team name.
 @param projectId The unique identifier of the project.
 @return ApiTeamsCheckPermissionsForProjectInOrgRequest
*/
func (a *TeamsApiService) TeamsCheckPermissionsForProjectInOrg(ctx context.Context, org string, teamSlug string, projectId int32) ApiTeamsCheckPermissionsForProjectInOrgRequest {
	return ApiTeamsCheckPermissionsForProjectInOrgRequest{
		ApiService: a,
		ctx: ctx,
		org: org,
		teamSlug: teamSlug,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return TeamProject
func (a *TeamsApiService) TeamsCheckPermissionsForProjectInOrgExecute(r ApiTeamsCheckPermissionsForProjectInOrgRequest) (*TeamProject, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TeamProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsCheckPermissionsForProjectInOrg")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orgs/{org}/teams/{team_slug}/projects/{project_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterToString(r.org, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"team_slug"+"}", url.PathEscape(parameterToString(r.teamSlug, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterToString(r.projectId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsCheckPermissionsForProjectLegacyRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	teamId int32
	projectId int32
}

func (r ApiTeamsCheckPermissionsForProjectLegacyRequest) Execute() (*TeamProject, *http.Response, error) {
	return r.ApiService.TeamsCheckPermissionsForProjectLegacyExecute(r)
}

/*
TeamsCheckPermissionsForProjectLegacy Check team permissions for a project (Legacy)

**Deprecation Notice:** This endpoint route is deprecated and will be removed from the Teams API. We recommend migrating your existing code to use the new [Check team permissions for a project](https://docs.github.com/rest/reference/teams#check-team-permissions-for-a-project) endpoint.

Checks whether a team has `read`, `write`, or `admin` permissions for an organization project. The response includes projects inherited from a parent team.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param teamId The unique identifier of the team.
 @param projectId The unique identifier of the project.
 @return ApiTeamsCheckPermissionsForProjectLegacyRequest

Deprecated
*/
func (a *TeamsApiService) TeamsCheckPermissionsForProjectLegacy(ctx context.Context, teamId int32, projectId int32) ApiTeamsCheckPermissionsForProjectLegacyRequest {
	return ApiTeamsCheckPermissionsForProjectLegacyRequest{
		ApiService: a,
		ctx: ctx,
		teamId: teamId,
		projectId: projectId,
	}
}

// Execute executes the request
//  @return TeamProject
// Deprecated
func (a *TeamsApiService) TeamsCheckPermissionsForProjectLegacyExecute(r ApiTeamsCheckPermissionsForProjectLegacyRequest) (*TeamProject, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TeamProject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsCheckPermissionsForProjectLegacy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/teams/{team_id}/projects/{project_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_id"+"}", url.PathEscape(parameterToString(r.teamId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterToString(r.projectId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsCheckPermissionsForRepoInOrgRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	org string
	teamSlug string
	owner string
	repo string
}

func (r ApiTeamsCheckPermissionsForRepoInOrgRequest) Execute() (*TeamRepository, *http.Response, error) {
	return r.ApiService.TeamsCheckPermissionsForRepoInOrgExecute(r)
}

/*
TeamsCheckPermissionsForRepoInOrg Check team permissions for a repository

Checks whether a team has `admin`, `push`, `maintain`, `triage`, or `pull` permission for a repository. Repositories inherited through a parent team will also be checked.

You can also get information about the specified repository, including what permissions the team grants on it, by passing the following custom [media type](https://docs.github.com/rest/overview/media-types/) via the `application/vnd.github.v3.repository+json` accept header.

If a team doesn't have permission for the repository, you will receive a `404 Not Found` response status.

**Note:** You can also specify a team by `org_id` and `team_id` using the route `GET /organizations/{org_id}/team/{team_id}/repos/{owner}/{repo}`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param org The organization name. The name is not case sensitive.
 @param teamSlug The slug of the team name.
 @param owner The account owner of the repository. The name is not case sensitive.
 @param repo The name of the repository. The name is not case sensitive.
 @return ApiTeamsCheckPermissionsForRepoInOrgRequest
*/
func (a *TeamsApiService) TeamsCheckPermissionsForRepoInOrg(ctx context.Context, org string, teamSlug string, owner string, repo string) ApiTeamsCheckPermissionsForRepoInOrgRequest {
	return ApiTeamsCheckPermissionsForRepoInOrgRequest{
		ApiService: a,
		ctx: ctx,
		org: org,
		teamSlug: teamSlug,
		owner: owner,
		repo: repo,
	}
}

// Execute executes the request
//  @return TeamRepository
func (a *TeamsApiService) TeamsCheckPermissionsForRepoInOrgExecute(r ApiTeamsCheckPermissionsForRepoInOrgRequest) (*TeamRepository, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TeamRepository
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsCheckPermissionsForRepoInOrg")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orgs/{org}/teams/{team_slug}/repos/{owner}/{repo}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterToString(r.org, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"team_slug"+"}", url.PathEscape(parameterToString(r.teamSlug, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"owner"+"}", url.PathEscape(parameterToString(r.owner, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterToString(r.repo, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsCheckPermissionsForRepoLegacyRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	teamId int32
	owner string
	repo string
}

func (r ApiTeamsCheckPermissionsForRepoLegacyRequest) Execute() (*TeamRepository, *http.Response, error) {
	return r.ApiService.TeamsCheckPermissionsForRepoLegacyExecute(r)
}

/*
TeamsCheckPermissionsForRepoLegacy Check team permissions for a repository (Legacy)

**Note**: Repositories inherited through a parent team will also be checked.

**Deprecation Notice:** This endpoint route is deprecated and will be removed from the Teams API. We recommend migrating your existing code to use the new [Check team permissions for a repository](https://docs.github.com/rest/reference/teams#check-team-permissions-for-a-repository) endpoint.

You can also get information about the specified repository, including what permissions the team grants on it, by passing the following custom [media type](https://docs.github.com/rest/overview/media-types/) via the `Accept` header:

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param teamId The unique identifier of the team.
 @param owner The account owner of the repository. The name is not case sensitive.
 @param repo The name of the repository. The name is not case sensitive.
 @return ApiTeamsCheckPermissionsForRepoLegacyRequest

Deprecated
*/
func (a *TeamsApiService) TeamsCheckPermissionsForRepoLegacy(ctx context.Context, teamId int32, owner string, repo string) ApiTeamsCheckPermissionsForRepoLegacyRequest {
	return ApiTeamsCheckPermissionsForRepoLegacyRequest{
		ApiService: a,
		ctx: ctx,
		teamId: teamId,
		owner: owner,
		repo: repo,
	}
}

// Execute executes the request
//  @return TeamRepository
// Deprecated
func (a *TeamsApiService) TeamsCheckPermissionsForRepoLegacyExecute(r ApiTeamsCheckPermissionsForRepoLegacyRequest) (*TeamRepository, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TeamRepository
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsCheckPermissionsForRepoLegacy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/teams/{team_id}/repos/{owner}/{repo}"
	localVarPath = strings.Replace(localVarPath, "{"+"team_id"+"}", url.PathEscape(parameterToString(r.teamId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"owner"+"}", url.PathEscape(parameterToString(r.owner, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"repo"+"}", url.PathEscape(parameterToString(r.repo, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsCreateRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	org string
	teamsCreateRequest *TeamsCreateRequest
}

func (r ApiTeamsCreateRequest) TeamsCreateRequest(teamsCreateRequest TeamsCreateRequest) ApiTeamsCreateRequest {
	r.teamsCreateRequest = &teamsCreateRequest
	return r
}

func (r ApiTeamsCreateRequest) Execute() (*TeamFull, *http.Response, error) {
	return r.ApiService.TeamsCreateExecute(r)
}

/*
TeamsCreate Create a team

To create a team, the authenticated user must be a member or owner of `{org}`. By default, organization members can create teams. Organization owners can limit team creation to organization owners. For more information, see "[Setting team creation permissions](https://docs.github.com/en/articles/setting-team-creation-permissions-in-your-organization)."

When you create a new team, you automatically become a team maintainer without explicitly adding yourself to the optional array of `maintainers`. For more information, see "[About teams](https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/about-teams)".

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param org The organization name. The name is not case sensitive.
 @return ApiTeamsCreateRequest
*/
func (a *TeamsApiService) TeamsCreate(ctx context.Context, org string) ApiTeamsCreateRequest {
	return ApiTeamsCreateRequest{
		ApiService: a,
		ctx: ctx,
		org: org,
	}
}

// Execute executes the request
//  @return TeamFull
func (a *TeamsApiService) TeamsCreateExecute(r ApiTeamsCreateRequest) (*TeamFull, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TeamFull
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orgs/{org}/teams"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterToString(r.org, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.teamsCreateRequest == nil {
		return localVarReturnValue, nil, reportError("teamsCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v BasicError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsCreateDiscussionCommentInOrgRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	org string
	teamSlug string
	discussionNumber int32
	teamsCreateDiscussionCommentInOrgRequest *TeamsCreateDiscussionCommentInOrgRequest
}

func (r ApiTeamsCreateDiscussionCommentInOrgRequest) TeamsCreateDiscussionCommentInOrgRequest(teamsCreateDiscussionCommentInOrgRequest TeamsCreateDiscussionCommentInOrgRequest) ApiTeamsCreateDiscussionCommentInOrgRequest {
	r.teamsCreateDiscussionCommentInOrgRequest = &teamsCreateDiscussionCommentInOrgRequest
	return r
}

func (r ApiTeamsCreateDiscussionCommentInOrgRequest) Execute() (*TeamDiscussionComment, *http.Response, error) {
	return r.ApiService.TeamsCreateDiscussionCommentInOrgExecute(r)
}

/*
TeamsCreateDiscussionCommentInOrg Create a discussion comment

Creates a new comment on a team discussion. OAuth access tokens require the `write:discussion` [scope](https://docs.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/).

This endpoint triggers [notifications](https://docs.github.com/en/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. See "[Secondary rate limits](https://docs.github.com/rest/overview/resources-in-the-rest-api#secondary-rate-limits)" and "[Dealing with secondary rate limits](https://docs.github.com/rest/guides/best-practices-for-integrators#dealing-with-secondary-rate-limits)" for details.

**Note:** You can also specify a team by `org_id` and `team_id` using the route `POST /organizations/{org_id}/team/{team_id}/discussions/{discussion_number}/comments`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param org The organization name. The name is not case sensitive.
 @param teamSlug The slug of the team name.
 @param discussionNumber The number that identifies the discussion.
 @return ApiTeamsCreateDiscussionCommentInOrgRequest
*/
func (a *TeamsApiService) TeamsCreateDiscussionCommentInOrg(ctx context.Context, org string, teamSlug string, discussionNumber int32) ApiTeamsCreateDiscussionCommentInOrgRequest {
	return ApiTeamsCreateDiscussionCommentInOrgRequest{
		ApiService: a,
		ctx: ctx,
		org: org,
		teamSlug: teamSlug,
		discussionNumber: discussionNumber,
	}
}

// Execute executes the request
//  @return TeamDiscussionComment
func (a *TeamsApiService) TeamsCreateDiscussionCommentInOrgExecute(r ApiTeamsCreateDiscussionCommentInOrgRequest) (*TeamDiscussionComment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TeamDiscussionComment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsCreateDiscussionCommentInOrg")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orgs/{org}/teams/{team_slug}/discussions/{discussion_number}/comments"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterToString(r.org, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"team_slug"+"}", url.PathEscape(parameterToString(r.teamSlug, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"discussion_number"+"}", url.PathEscape(parameterToString(r.discussionNumber, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.teamsCreateDiscussionCommentInOrgRequest == nil {
		return localVarReturnValue, nil, reportError("teamsCreateDiscussionCommentInOrgRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsCreateDiscussionCommentInOrgRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsCreateDiscussionCommentLegacyRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	teamId int32
	discussionNumber int32
	teamsCreateDiscussionCommentInOrgRequest *TeamsCreateDiscussionCommentInOrgRequest
}

func (r ApiTeamsCreateDiscussionCommentLegacyRequest) TeamsCreateDiscussionCommentInOrgRequest(teamsCreateDiscussionCommentInOrgRequest TeamsCreateDiscussionCommentInOrgRequest) ApiTeamsCreateDiscussionCommentLegacyRequest {
	r.teamsCreateDiscussionCommentInOrgRequest = &teamsCreateDiscussionCommentInOrgRequest
	return r
}

func (r ApiTeamsCreateDiscussionCommentLegacyRequest) Execute() (*TeamDiscussionComment, *http.Response, error) {
	return r.ApiService.TeamsCreateDiscussionCommentLegacyExecute(r)
}

/*
TeamsCreateDiscussionCommentLegacy Create a discussion comment (Legacy)

**Deprecation Notice:** This endpoint route is deprecated and will be removed from the Teams API. We recommend migrating your existing code to use the new [Create a discussion comment](https://docs.github.com/rest/reference/teams#create-a-discussion-comment) endpoint.

Creates a new comment on a team discussion. OAuth access tokens require the `write:discussion` [scope](https://docs.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/).

This endpoint triggers [notifications](https://docs.github.com/en/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. See "[Secondary rate limits](https://docs.github.com/rest/overview/resources-in-the-rest-api#secondary-rate-limits)" and "[Dealing with secondary rate limits](https://docs.github.com/rest/guides/best-practices-for-integrators#dealing-with-secondary-rate-limits)" for details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param teamId The unique identifier of the team.
 @param discussionNumber The number that identifies the discussion.
 @return ApiTeamsCreateDiscussionCommentLegacyRequest

Deprecated
*/
func (a *TeamsApiService) TeamsCreateDiscussionCommentLegacy(ctx context.Context, teamId int32, discussionNumber int32) ApiTeamsCreateDiscussionCommentLegacyRequest {
	return ApiTeamsCreateDiscussionCommentLegacyRequest{
		ApiService: a,
		ctx: ctx,
		teamId: teamId,
		discussionNumber: discussionNumber,
	}
}

// Execute executes the request
//  @return TeamDiscussionComment
// Deprecated
func (a *TeamsApiService) TeamsCreateDiscussionCommentLegacyExecute(r ApiTeamsCreateDiscussionCommentLegacyRequest) (*TeamDiscussionComment, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TeamDiscussionComment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsCreateDiscussionCommentLegacy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/teams/{team_id}/discussions/{discussion_number}/comments"
	localVarPath = strings.Replace(localVarPath, "{"+"team_id"+"}", url.PathEscape(parameterToString(r.teamId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"discussion_number"+"}", url.PathEscape(parameterToString(r.discussionNumber, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.teamsCreateDiscussionCommentInOrgRequest == nil {
		return localVarReturnValue, nil, reportError("teamsCreateDiscussionCommentInOrgRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsCreateDiscussionCommentInOrgRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsCreateDiscussionInOrgRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	org string
	teamSlug string
	teamsCreateDiscussionInOrgRequest *TeamsCreateDiscussionInOrgRequest
}

func (r ApiTeamsCreateDiscussionInOrgRequest) TeamsCreateDiscussionInOrgRequest(teamsCreateDiscussionInOrgRequest TeamsCreateDiscussionInOrgRequest) ApiTeamsCreateDiscussionInOrgRequest {
	r.teamsCreateDiscussionInOrgRequest = &teamsCreateDiscussionInOrgRequest
	return r
}

func (r ApiTeamsCreateDiscussionInOrgRequest) Execute() (*TeamDiscussion, *http.Response, error) {
	return r.ApiService.TeamsCreateDiscussionInOrgExecute(r)
}

/*
TeamsCreateDiscussionInOrg Create a discussion

Creates a new discussion post on a team's page. OAuth access tokens require the `write:discussion` [scope](https://docs.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/).

This endpoint triggers [notifications](https://docs.github.com/en/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. See "[Secondary rate limits](https://docs.github.com/rest/overview/resources-in-the-rest-api#secondary-rate-limits)" and "[Dealing with secondary rate limits](https://docs.github.com/rest/guides/best-practices-for-integrators#dealing-with-secondary-rate-limits)" for details.

**Note:** You can also specify a team by `org_id` and `team_id` using the route `POST /organizations/{org_id}/team/{team_id}/discussions`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param org The organization name. The name is not case sensitive.
 @param teamSlug The slug of the team name.
 @return ApiTeamsCreateDiscussionInOrgRequest
*/
func (a *TeamsApiService) TeamsCreateDiscussionInOrg(ctx context.Context, org string, teamSlug string) ApiTeamsCreateDiscussionInOrgRequest {
	return ApiTeamsCreateDiscussionInOrgRequest{
		ApiService: a,
		ctx: ctx,
		org: org,
		teamSlug: teamSlug,
	}
}

// Execute executes the request
//  @return TeamDiscussion
func (a *TeamsApiService) TeamsCreateDiscussionInOrgExecute(r ApiTeamsCreateDiscussionInOrgRequest) (*TeamDiscussion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TeamDiscussion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsCreateDiscussionInOrg")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orgs/{org}/teams/{team_slug}/discussions"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterToString(r.org, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"team_slug"+"}", url.PathEscape(parameterToString(r.teamSlug, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.teamsCreateDiscussionInOrgRequest == nil {
		return localVarReturnValue, nil, reportError("teamsCreateDiscussionInOrgRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsCreateDiscussionInOrgRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsCreateDiscussionLegacyRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	teamId int32
	teamsCreateDiscussionInOrgRequest *TeamsCreateDiscussionInOrgRequest
}

func (r ApiTeamsCreateDiscussionLegacyRequest) TeamsCreateDiscussionInOrgRequest(teamsCreateDiscussionInOrgRequest TeamsCreateDiscussionInOrgRequest) ApiTeamsCreateDiscussionLegacyRequest {
	r.teamsCreateDiscussionInOrgRequest = &teamsCreateDiscussionInOrgRequest
	return r
}

func (r ApiTeamsCreateDiscussionLegacyRequest) Execute() (*TeamDiscussion, *http.Response, error) {
	return r.ApiService.TeamsCreateDiscussionLegacyExecute(r)
}

/*
TeamsCreateDiscussionLegacy Create a discussion (Legacy)

**Deprecation Notice:** This endpoint route is deprecated and will be removed from the Teams API. We recommend migrating your existing code to use the new [`Create a discussion`](https://docs.github.com/rest/reference/teams#create-a-discussion) endpoint.

Creates a new discussion post on a team's page. OAuth access tokens require the `write:discussion` [scope](https://docs.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/).

This endpoint triggers [notifications](https://docs.github.com/en/github/managing-subscriptions-and-notifications-on-github/about-notifications). Creating content too quickly using this endpoint may result in secondary rate limiting. See "[Secondary rate limits](https://docs.github.com/rest/overview/resources-in-the-rest-api#secondary-rate-limits)" and "[Dealing with secondary rate limits](https://docs.github.com/rest/guides/best-practices-for-integrators#dealing-with-secondary-rate-limits)" for details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param teamId The unique identifier of the team.
 @return ApiTeamsCreateDiscussionLegacyRequest

Deprecated
*/
func (a *TeamsApiService) TeamsCreateDiscussionLegacy(ctx context.Context, teamId int32) ApiTeamsCreateDiscussionLegacyRequest {
	return ApiTeamsCreateDiscussionLegacyRequest{
		ApiService: a,
		ctx: ctx,
		teamId: teamId,
	}
}

// Execute executes the request
//  @return TeamDiscussion
// Deprecated
func (a *TeamsApiService) TeamsCreateDiscussionLegacyExecute(r ApiTeamsCreateDiscussionLegacyRequest) (*TeamDiscussion, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TeamDiscussion
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsCreateDiscussionLegacy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/teams/{team_id}/discussions"
	localVarPath = strings.Replace(localVarPath, "{"+"team_id"+"}", url.PathEscape(parameterToString(r.teamId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.teamsCreateDiscussionInOrgRequest == nil {
		return localVarReturnValue, nil, reportError("teamsCreateDiscussionInOrgRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsCreateDiscussionInOrgRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsCreateOrUpdateIdpGroupConnectionsInOrgRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	org string
	teamSlug string
	teamsCreateOrUpdateIdpGroupConnectionsInOrgRequest *TeamsCreateOrUpdateIdpGroupConnectionsInOrgRequest
}

func (r ApiTeamsCreateOrUpdateIdpGroupConnectionsInOrgRequest) TeamsCreateOrUpdateIdpGroupConnectionsInOrgRequest(teamsCreateOrUpdateIdpGroupConnectionsInOrgRequest TeamsCreateOrUpdateIdpGroupConnectionsInOrgRequest) ApiTeamsCreateOrUpdateIdpGroupConnectionsInOrgRequest {
	r.teamsCreateOrUpdateIdpGroupConnectionsInOrgRequest = &teamsCreateOrUpdateIdpGroupConnectionsInOrgRequest
	return r
}

func (r ApiTeamsCreateOrUpdateIdpGroupConnectionsInOrgRequest) Execute() (*GroupMapping, *http.Response, error) {
	return r.ApiService.TeamsCreateOrUpdateIdpGroupConnectionsInOrgExecute(r)
}

/*
TeamsCreateOrUpdateIdpGroupConnectionsInOrg Create or update IdP group connections

Team synchronization is available for organizations using GitHub Enterprise Cloud. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products) in the GitHub Help documentation.

Creates, updates, or removes a connection between a team and an IdP group. When adding groups to a team, you must include all new and existing groups to avoid replacing existing groups with the new ones. Specifying an empty `groups` array will remove all connections for a team.

**Note:** You can also specify a team by `org_id` and `team_id` using the route `PATCH /organizations/{org_id}/team/{team_id}/team-sync/group-mappings`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param org The organization name. The name is not case sensitive.
 @param teamSlug The slug of the team name.
 @return ApiTeamsCreateOrUpdateIdpGroupConnectionsInOrgRequest
*/
func (a *TeamsApiService) TeamsCreateOrUpdateIdpGroupConnectionsInOrg(ctx context.Context, org string, teamSlug string) ApiTeamsCreateOrUpdateIdpGroupConnectionsInOrgRequest {
	return ApiTeamsCreateOrUpdateIdpGroupConnectionsInOrgRequest{
		ApiService: a,
		ctx: ctx,
		org: org,
		teamSlug: teamSlug,
	}
}

// Execute executes the request
//  @return GroupMapping
func (a *TeamsApiService) TeamsCreateOrUpdateIdpGroupConnectionsInOrgExecute(r ApiTeamsCreateOrUpdateIdpGroupConnectionsInOrgRequest) (*GroupMapping, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GroupMapping
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsCreateOrUpdateIdpGroupConnectionsInOrg")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orgs/{org}/teams/{team_slug}/team-sync/group-mappings"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterToString(r.org, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"team_slug"+"}", url.PathEscape(parameterToString(r.teamSlug, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.teamsCreateOrUpdateIdpGroupConnectionsInOrgRequest == nil {
		return localVarReturnValue, nil, reportError("teamsCreateOrUpdateIdpGroupConnectionsInOrgRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsCreateOrUpdateIdpGroupConnectionsInOrgRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsCreateOrUpdateIdpGroupConnectionsLegacyRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	teamId int32
	teamsCreateOrUpdateIdpGroupConnectionsLegacyRequest *TeamsCreateOrUpdateIdpGroupConnectionsLegacyRequest
}

func (r ApiTeamsCreateOrUpdateIdpGroupConnectionsLegacyRequest) TeamsCreateOrUpdateIdpGroupConnectionsLegacyRequest(teamsCreateOrUpdateIdpGroupConnectionsLegacyRequest TeamsCreateOrUpdateIdpGroupConnectionsLegacyRequest) ApiTeamsCreateOrUpdateIdpGroupConnectionsLegacyRequest {
	r.teamsCreateOrUpdateIdpGroupConnectionsLegacyRequest = &teamsCreateOrUpdateIdpGroupConnectionsLegacyRequest
	return r
}

func (r ApiTeamsCreateOrUpdateIdpGroupConnectionsLegacyRequest) Execute() (*GroupMapping, *http.Response, error) {
	return r.ApiService.TeamsCreateOrUpdateIdpGroupConnectionsLegacyExecute(r)
}

/*
TeamsCreateOrUpdateIdpGroupConnectionsLegacy Create or update IdP group connections (Legacy)

**Deprecation Notice:** This endpoint route is deprecated and will be removed from the Teams API. We recommend migrating your existing code to use the new [`Create or update IdP group connections`](https://docs.github.com/rest/reference/teams#create-or-update-idp-group-connections) endpoint.

Team synchronization is available for organizations using GitHub Enterprise Cloud. For more information, see [GitHub's products](https://docs.github.com/github/getting-started-with-github/githubs-products) in the GitHub Help documentation.

Creates, updates, or removes a connection between a team and an IdP group. When adding groups to a team, you must include all new and existing groups to avoid replacing existing groups with the new ones. Specifying an empty `groups` array will remove all connections for a team.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param teamId The unique identifier of the team.
 @return ApiTeamsCreateOrUpdateIdpGroupConnectionsLegacyRequest

Deprecated
*/
func (a *TeamsApiService) TeamsCreateOrUpdateIdpGroupConnectionsLegacy(ctx context.Context, teamId int32) ApiTeamsCreateOrUpdateIdpGroupConnectionsLegacyRequest {
	return ApiTeamsCreateOrUpdateIdpGroupConnectionsLegacyRequest{
		ApiService: a,
		ctx: ctx,
		teamId: teamId,
	}
}

// Execute executes the request
//  @return GroupMapping
// Deprecated
func (a *TeamsApiService) TeamsCreateOrUpdateIdpGroupConnectionsLegacyExecute(r ApiTeamsCreateOrUpdateIdpGroupConnectionsLegacyRequest) (*GroupMapping, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GroupMapping
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsCreateOrUpdateIdpGroupConnectionsLegacy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/teams/{team_id}/team-sync/group-mappings"
	localVarPath = strings.Replace(localVarPath, "{"+"team_id"+"}", url.PathEscape(parameterToString(r.teamId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.teamsCreateOrUpdateIdpGroupConnectionsLegacyRequest == nil {
		return localVarReturnValue, nil, reportError("teamsCreateOrUpdateIdpGroupConnectionsLegacyRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamsCreateOrUpdateIdpGroupConnectionsLegacyRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v BasicError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTeamsDeleteDiscussionCommentInOrgRequest struct {
	ctx context.Context
	ApiService *TeamsApiService
	org string
	teamSlug string
	discussionNumber int32
	commentNumber int32
}

func (r ApiTeamsDeleteDiscussionCommentInOrgRequest) Execute() (*http.Response, error) {
	return r.ApiService.TeamsDeleteDiscussionCommentInOrgExecute(r)
}

/*
TeamsDeleteDiscussionCommentInOrg Delete a discussion comment

Deletes a comment on a team discussion. OAuth access tokens require the `write:discussion` [scope](https://docs.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/).

**Note:** You can also specify a team by `org_id` and `team_id` using the route `DELETE /organizations/{org_id}/team/{team_id}/discussions/{discussion_number}/comments/{comment_number}`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param org The organization name. The name is not case sensitive.
 @param teamSlug The slug of the team name.
 @param discussionNumber The number that identifies the discussion.
 @param commentNumber The number that identifies the comment.
 @return ApiTeamsDeleteDiscussionCommentInOrgRequest
*/
func (a *TeamsApiService) TeamsDeleteDiscussionCommentInOrg(ctx context.Context, org string, teamSlug string, discussionNumber int32, commentNumber int32) ApiTeamsDeleteDiscussionCommentInOrgRequest {
	return ApiTeamsDeleteDiscussionCommentInOrgRequest{
		ApiService: a,
		ctx: ctx,
		org: org,
		teamSlug: teamSlug,
		discussionNumber: discussionNumber,
		commentNumber: commentNumber,
	}
}

// Execute executes the request
func (a *TeamsApiService) TeamsDeleteDiscussionCommentInOrgExecute(r ApiTeamsDeleteDiscussionCommentInOrgRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TeamsApiService.TeamsDeleteDiscussionCommentInOrg")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/orgs/{org}/teams/{team_slug}/discussions/{discussion_number}/comments/{comment_number}"
	localVarPath = strings.Replace(localVarPath, "{"+"org"+"}", url.PathEscape(parameterToString(r.org, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"team_slug"+"}", url.PathEscape(parameterToString(r.teamSlug, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"discussion_number"+"}", url.PathEscape(parameterToString(r.discussionNumber, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"comment_number"+"}", url.PathEscape(parameterToString(r.commentNumber, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
[...]
