/*
GitHub v3 REST API

GitHub's v3 REST API.

API version: 1.1.4
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package github

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// EnterpriseAdminApiService EnterpriseAdminApi service
type EnterpriseAdminApiService service

type ApiEnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	runnerId int32
	enterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest *EnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest
}

func (r ApiEnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest) EnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest(enterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest EnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest) ApiEnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest {
	r.enterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest = &enterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest
	return r
}

func (r ApiEnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest) Execute() (*EnterpriseAdminListLabelsForSelfHostedRunnerForEnterprise200Response, *http.Response, error) {
	return r.ApiService.EnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseExecute(r)
}

/*
EnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterprise Add custom labels to a self-hosted runner for an enterprise

Add custom labels to a self-hosted runner configured in an enterprise.

You must authenticate using an access token with the `manage_runners:enterprise` scope to use this endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param runnerId Unique identifier of the self-hosted runner.
 @return ApiEnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterprise(ctx context.Context, enterprise string, runnerId int32) ApiEnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest {
	return ApiEnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		runnerId: runnerId,
	}
}

// Execute executes the request
//  @return EnterpriseAdminListLabelsForSelfHostedRunnerForEnterprise200Response
func (a *EnterpriseAdminApiService) EnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseExecute(r ApiEnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest) (*EnterpriseAdminListLabelsForSelfHostedRunnerForEnterprise200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EnterpriseAdminListLabelsForSelfHostedRunnerForEnterprise200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterprise")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/runners/{runner_id}/labels"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"runner_id"+"}", url.PathEscape(parameterToString(r.runnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest == nil {
		return localVarReturnValue, nil, reportError("enterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.enterpriseAdminAddCustomLabelsToSelfHostedRunnerForEnterpriseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v BasicError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationErrorSimple
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminAddOrgAccessToSelfHostedRunnerGroupInEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	runnerGroupId int32
	orgId int32
}

func (r ApiEnterpriseAdminAddOrgAccessToSelfHostedRunnerGroupInEnterpriseRequest) Execute() (*http.Response, error) {
	return r.ApiService.EnterpriseAdminAddOrgAccessToSelfHostedRunnerGroupInEnterpriseExecute(r)
}

/*
EnterpriseAdminAddOrgAccessToSelfHostedRunnerGroupInEnterprise Add organization access to a self-hosted runner group in an enterprise

Adds an organization to the list of selected organizations that can access a self-hosted runner group. The runner group must have `visibility` set to `selected`. For more information, see "[Create a self-hosted runner group for an enterprise](#create-a-self-hosted-runner-group-for-an-enterprise)."

You must authenticate using an access token with the `manage_runners:enterprise` scope to use this endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param runnerGroupId Unique identifier of the self-hosted runner group.
 @param orgId The unique identifier of the organization.
 @return ApiEnterpriseAdminAddOrgAccessToSelfHostedRunnerGroupInEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminAddOrgAccessToSelfHostedRunnerGroupInEnterprise(ctx context.Context, enterprise string, runnerGroupId int32, orgId int32) ApiEnterpriseAdminAddOrgAccessToSelfHostedRunnerGroupInEnterpriseRequest {
	return ApiEnterpriseAdminAddOrgAccessToSelfHostedRunnerGroupInEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		runnerGroupId: runnerGroupId,
		orgId: orgId,
	}
}

// Execute executes the request
func (a *EnterpriseAdminApiService) EnterpriseAdminAddOrgAccessToSelfHostedRunnerGroupInEnterpriseExecute(r ApiEnterpriseAdminAddOrgAccessToSelfHostedRunnerGroupInEnterpriseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminAddOrgAccessToSelfHostedRunnerGroupInEnterprise")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/runner-groups/{runner_group_id}/organizations/{org_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"runner_group_id"+"}", url.PathEscape(parameterToString(r.runnerGroupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"org_id"+"}", url.PathEscape(parameterToString(r.orgId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEnterpriseAdminAddSelfHostedRunnerToGroupForEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	runnerGroupId int32
	runnerId int32
}

func (r ApiEnterpriseAdminAddSelfHostedRunnerToGroupForEnterpriseRequest) Execute() (*http.Response, error) {
	return r.ApiService.EnterpriseAdminAddSelfHostedRunnerToGroupForEnterpriseExecute(r)
}

/*
EnterpriseAdminAddSelfHostedRunnerToGroupForEnterprise Add a self-hosted runner to a group for an enterprise

Adds a self-hosted runner to a runner group configured in an enterprise.

You must authenticate using an access token with the `manage_runners:enterprise`
scope to use this endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param runnerGroupId Unique identifier of the self-hosted runner group.
 @param runnerId Unique identifier of the self-hosted runner.
 @return ApiEnterpriseAdminAddSelfHostedRunnerToGroupForEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminAddSelfHostedRunnerToGroupForEnterprise(ctx context.Context, enterprise string, runnerGroupId int32, runnerId int32) ApiEnterpriseAdminAddSelfHostedRunnerToGroupForEnterpriseRequest {
	return ApiEnterpriseAdminAddSelfHostedRunnerToGroupForEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		runnerGroupId: runnerGroupId,
		runnerId: runnerId,
	}
}

// Execute executes the request
func (a *EnterpriseAdminApiService) EnterpriseAdminAddSelfHostedRunnerToGroupForEnterpriseExecute(r ApiEnterpriseAdminAddSelfHostedRunnerToGroupForEnterpriseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminAddSelfHostedRunnerToGroupForEnterprise")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/runner-groups/{runner_group_id}/runners/{runner_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"runner_group_id"+"}", url.PathEscape(parameterToString(r.runnerGroupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"runner_id"+"}", url.PathEscape(parameterToString(r.runnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEnterpriseAdminCreateRegistrationTokenForEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
}

func (r ApiEnterpriseAdminCreateRegistrationTokenForEnterpriseRequest) Execute() (*AuthenticationToken, *http.Response, error) {
	return r.ApiService.EnterpriseAdminCreateRegistrationTokenForEnterpriseExecute(r)
}

/*
EnterpriseAdminCreateRegistrationTokenForEnterprise Create a registration token for an enterprise

Returns a token that you can pass to the `config` script. The token expires after one hour.

You must authenticate using an access token with the `manage_runners:enterprise` scope to use this endpoint.

#### Example using registration token

Configure your self-hosted runner, replacing `TOKEN` with the registration token provided by this endpoint.

```
./config.sh --url https://github.com/enterprises/octo-enterprise --token TOKEN
```

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @return ApiEnterpriseAdminCreateRegistrationTokenForEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminCreateRegistrationTokenForEnterprise(ctx context.Context, enterprise string) ApiEnterpriseAdminCreateRegistrationTokenForEnterpriseRequest {
	return ApiEnterpriseAdminCreateRegistrationTokenForEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
	}
}

// Execute executes the request
//  @return AuthenticationToken
func (a *EnterpriseAdminApiService) EnterpriseAdminCreateRegistrationTokenForEnterpriseExecute(r ApiEnterpriseAdminCreateRegistrationTokenForEnterpriseRequest) (*AuthenticationToken, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AuthenticationToken
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminCreateRegistrationTokenForEnterprise")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/runners/registration-token"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminCreateRemoveTokenForEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
}

func (r ApiEnterpriseAdminCreateRemoveTokenForEnterpriseRequest) Execute() (*AuthenticationToken, *http.Response, error) {
	return r.ApiService.EnterpriseAdminCreateRemoveTokenForEnterpriseExecute(r)
}

/*
EnterpriseAdminCreateRemoveTokenForEnterprise Create a remove token for an enterprise

Returns a token that you can pass to the `config` script to remove a self-hosted runner from an enterprise. The token expires after one hour.

You must authenticate using an access token with the `manage_runners:enterprise` scope to use this endpoint.

#### Example using remove token

To remove your self-hosted runner from an enterprise, replace `TOKEN` with the remove token provided by this
endpoint.

```
./config.sh remove --token TOKEN
```

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @return ApiEnterpriseAdminCreateRemoveTokenForEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminCreateRemoveTokenForEnterprise(ctx context.Context, enterprise string) ApiEnterpriseAdminCreateRemoveTokenForEnterpriseRequest {
	return ApiEnterpriseAdminCreateRemoveTokenForEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
	}
}

// Execute executes the request
//  @return AuthenticationToken
func (a *EnterpriseAdminApiService) EnterpriseAdminCreateRemoveTokenForEnterpriseExecute(r ApiEnterpriseAdminCreateRemoveTokenForEnterpriseRequest) (*AuthenticationToken, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AuthenticationToken
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminCreateRemoveTokenForEnterprise")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/runners/remove-token"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	enterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest *EnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest
}

func (r ApiEnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest) EnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest(enterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest EnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest) ApiEnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest {
	r.enterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest = &enterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest
	return r
}

func (r ApiEnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest) Execute() (*RunnerGroupsEnterprise, *http.Response, error) {
	return r.ApiService.EnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseExecute(r)
}

/*
EnterpriseAdminCreateSelfHostedRunnerGroupForEnterprise Create a self-hosted runner group for an enterprise

Creates a new self-hosted runner group for an enterprise.

You must authenticate using an access token with the `manage_runners:enterprise` scope to use this endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @return ApiEnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminCreateSelfHostedRunnerGroupForEnterprise(ctx context.Context, enterprise string) ApiEnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest {
	return ApiEnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
	}
}

// Execute executes the request
//  @return RunnerGroupsEnterprise
func (a *EnterpriseAdminApiService) EnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseExecute(r ApiEnterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest) (*RunnerGroupsEnterprise, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RunnerGroupsEnterprise
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminCreateSelfHostedRunnerGroupForEnterprise")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/runner-groups"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest == nil {
		return localVarReturnValue, nil, reportError("enterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.enterpriseAdminCreateSelfHostedRunnerGroupForEnterpriseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminDeleteScimGroupFromEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	scimGroupId string
}

func (r ApiEnterpriseAdminDeleteScimGroupFromEnterpriseRequest) Execute() (*http.Response, error) {
	return r.ApiService.EnterpriseAdminDeleteScimGroupFromEnterpriseExecute(r)
}

/*
EnterpriseAdminDeleteScimGroupFromEnterprise Delete a SCIM group from an enterprise

**Note:** The SCIM API endpoints for enterprise accounts are currently in beta and are subject to change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param scimGroupId Identifier generated by the GitHub SCIM endpoint.
 @return ApiEnterpriseAdminDeleteScimGroupFromEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminDeleteScimGroupFromEnterprise(ctx context.Context, enterprise string, scimGroupId string) ApiEnterpriseAdminDeleteScimGroupFromEnterpriseRequest {
	return ApiEnterpriseAdminDeleteScimGroupFromEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		scimGroupId: scimGroupId,
	}
}

// Execute executes the request
func (a *EnterpriseAdminApiService) EnterpriseAdminDeleteScimGroupFromEnterpriseExecute(r ApiEnterpriseAdminDeleteScimGroupFromEnterpriseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminDeleteScimGroupFromEnterprise")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scim/v2/enterprises/{enterprise}/Groups/{scim_group_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"scim_group_id"+"}", url.PathEscape(parameterToString(r.scimGroupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEnterpriseAdminDeleteSelfHostedRunnerFromEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	runnerId int32
}

func (r ApiEnterpriseAdminDeleteSelfHostedRunnerFromEnterpriseRequest) Execute() (*http.Response, error) {
	return r.ApiService.EnterpriseAdminDeleteSelfHostedRunnerFromEnterpriseExecute(r)
}

/*
EnterpriseAdminDeleteSelfHostedRunnerFromEnterprise Delete a self-hosted runner from an enterprise

Forces the removal of a self-hosted runner from an enterprise. You can use this endpoint to completely remove the runner when the machine you were using no longer exists.

You must authenticate using an access token with the `manage_runners:enterprise` scope to use this endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param runnerId Unique identifier of the self-hosted runner.
 @return ApiEnterpriseAdminDeleteSelfHostedRunnerFromEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminDeleteSelfHostedRunnerFromEnterprise(ctx context.Context, enterprise string, runnerId int32) ApiEnterpriseAdminDeleteSelfHostedRunnerFromEnterpriseRequest {
	return ApiEnterpriseAdminDeleteSelfHostedRunnerFromEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		runnerId: runnerId,
	}
}

// Execute executes the request
func (a *EnterpriseAdminApiService) EnterpriseAdminDeleteSelfHostedRunnerFromEnterpriseExecute(r ApiEnterpriseAdminDeleteSelfHostedRunnerFromEnterpriseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminDeleteSelfHostedRunnerFromEnterprise")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/runners/{runner_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"runner_id"+"}", url.PathEscape(parameterToString(r.runnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEnterpriseAdminDeleteSelfHostedRunnerGroupFromEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	runnerGroupId int32
}

func (r ApiEnterpriseAdminDeleteSelfHostedRunnerGroupFromEnterpriseRequest) Execute() (*http.Response, error) {
	return r.ApiService.EnterpriseAdminDeleteSelfHostedRunnerGroupFromEnterpriseExecute(r)
}

/*
EnterpriseAdminDeleteSelfHostedRunnerGroupFromEnterprise Delete a self-hosted runner group from an enterprise

Deletes a self-hosted runner group for an enterprise.

You must authenticate using an access token with the `manage_runners:enterprise` scope to use this endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param runnerGroupId Unique identifier of the self-hosted runner group.
 @return ApiEnterpriseAdminDeleteSelfHostedRunnerGroupFromEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminDeleteSelfHostedRunnerGroupFromEnterprise(ctx context.Context, enterprise string, runnerGroupId int32) ApiEnterpriseAdminDeleteSelfHostedRunnerGroupFromEnterpriseRequest {
	return ApiEnterpriseAdminDeleteSelfHostedRunnerGroupFromEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		runnerGroupId: runnerGroupId,
	}
}

// Execute executes the request
func (a *EnterpriseAdminApiService) EnterpriseAdminDeleteSelfHostedRunnerGroupFromEnterpriseExecute(r ApiEnterpriseAdminDeleteSelfHostedRunnerGroupFromEnterpriseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminDeleteSelfHostedRunnerGroupFromEnterprise")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/runner-groups/{runner_group_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"runner_group_id"+"}", url.PathEscape(parameterToString(r.runnerGroupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEnterpriseAdminDeleteUserFromEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	scimUserId string
}

func (r ApiEnterpriseAdminDeleteUserFromEnterpriseRequest) Execute() (*http.Response, error) {
	return r.ApiService.EnterpriseAdminDeleteUserFromEnterpriseExecute(r)
}

/*
EnterpriseAdminDeleteUserFromEnterprise Delete a SCIM user from an enterprise

**Note:** The SCIM API endpoints for enterprise accounts are currently in beta and are subject to change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param scimUserId The unique identifier of the SCIM user.
 @return ApiEnterpriseAdminDeleteUserFromEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminDeleteUserFromEnterprise(ctx context.Context, enterprise string, scimUserId string) ApiEnterpriseAdminDeleteUserFromEnterpriseRequest {
	return ApiEnterpriseAdminDeleteUserFromEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		scimUserId: scimUserId,
	}
}

// Execute executes the request
func (a *EnterpriseAdminApiService) EnterpriseAdminDeleteUserFromEnterpriseExecute(r ApiEnterpriseAdminDeleteUserFromEnterpriseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminDeleteUserFromEnterprise")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scim/v2/enterprises/{enterprise}/Users/{scim_user_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"scim_user_id"+"}", url.PathEscape(parameterToString(r.scimUserId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEnterpriseAdminDisableSelectedOrganizationGithubActionsEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	orgId int32
}

func (r ApiEnterpriseAdminDisableSelectedOrganizationGithubActionsEnterpriseRequest) Execute() (*http.Response, error) {
	return r.ApiService.EnterpriseAdminDisableSelectedOrganizationGithubActionsEnterpriseExecute(r)
}

/*
EnterpriseAdminDisableSelectedOrganizationGithubActionsEnterprise Disable a selected organization for GitHub Actions in an enterprise

Removes an organization from the list of selected organizations that are enabled for GitHub Actions in an enterprise. To use this endpoint, the enterprise permission policy for `enabled_organizations` must be configured to `selected`. For more information, see "[Set GitHub Actions permissions for an enterprise](#set-github-actions-permissions-for-an-enterprise)."

You must authenticate using an access token with the `admin:enterprise` scope to use this endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param orgId The unique identifier of the organization.
 @return ApiEnterpriseAdminDisableSelectedOrganizationGithubActionsEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminDisableSelectedOrganizationGithubActionsEnterprise(ctx context.Context, enterprise string, orgId int32) ApiEnterpriseAdminDisableSelectedOrganizationGithubActionsEnterpriseRequest {
	return ApiEnterpriseAdminDisableSelectedOrganizationGithubActionsEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		orgId: orgId,
	}
}

// Execute executes the request
func (a *EnterpriseAdminApiService) EnterpriseAdminDisableSelectedOrganizationGithubActionsEnterpriseExecute(r ApiEnterpriseAdminDisableSelectedOrganizationGithubActionsEnterpriseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminDisableSelectedOrganizationGithubActionsEnterprise")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/permissions/organizations/{org_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"org_id"+"}", url.PathEscape(parameterToString(r.orgId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEnterpriseAdminEnableSelectedOrganizationGithubActionsEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	orgId int32
}

func (r ApiEnterpriseAdminEnableSelectedOrganizationGithubActionsEnterpriseRequest) Execute() (*http.Response, error) {
	return r.ApiService.EnterpriseAdminEnableSelectedOrganizationGithubActionsEnterpriseExecute(r)
}

/*
EnterpriseAdminEnableSelectedOrganizationGithubActionsEnterprise Enable a selected organization for GitHub Actions in an enterprise

Adds an organization to the list of selected organizations that are enabled for GitHub Actions in an enterprise. To use this endpoint, the enterprise permission policy for `enabled_organizations` must be configured to `selected`. For more information, see "[Set GitHub Actions permissions for an enterprise](#set-github-actions-permissions-for-an-enterprise)."

You must authenticate using an access token with the `admin:enterprise` scope to use this endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param orgId The unique identifier of the organization.
 @return ApiEnterpriseAdminEnableSelectedOrganizationGithubActionsEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminEnableSelectedOrganizationGithubActionsEnterprise(ctx context.Context, enterprise string, orgId int32) ApiEnterpriseAdminEnableSelectedOrganizationGithubActionsEnterpriseRequest {
	return ApiEnterpriseAdminEnableSelectedOrganizationGithubActionsEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		orgId: orgId,
	}
}

// Execute executes the request
func (a *EnterpriseAdminApiService) EnterpriseAdminEnableSelectedOrganizationGithubActionsEnterpriseExecute(r ApiEnterpriseAdminEnableSelectedOrganizationGithubActionsEnterpriseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminEnableSelectedOrganizationGithubActionsEnterprise")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/permissions/organizations/{org_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"org_id"+"}", url.PathEscape(parameterToString(r.orgId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEnterpriseAdminGetAllowedActionsEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
}

func (r ApiEnterpriseAdminGetAllowedActionsEnterpriseRequest) Execute() (*SelectedActions, *http.Response, error) {
	return r.ApiService.EnterpriseAdminGetAllowedActionsEnterpriseExecute(r)
}

/*
EnterpriseAdminGetAllowedActionsEnterprise Get allowed actions and reusable workflows for an enterprise

Gets the selected actions and reusable workflows that are allowed in an enterprise. To use this endpoint, the enterprise permission policy for `allowed_actions` must be configured to `selected`. For more information, see "[Set GitHub Actions permissions for an enterprise](#set-github-actions-permissions-for-an-enterprise)."

You must authenticate using an access token with the `admin:enterprise` scope to use this endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @return ApiEnterpriseAdminGetAllowedActionsEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminGetAllowedActionsEnterprise(ctx context.Context, enterprise string) ApiEnterpriseAdminGetAllowedActionsEnterpriseRequest {
	return ApiEnterpriseAdminGetAllowedActionsEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
	}
}

// Execute executes the request
//  @return SelectedActions
func (a *EnterpriseAdminApiService) EnterpriseAdminGetAllowedActionsEnterpriseExecute(r ApiEnterpriseAdminGetAllowedActionsEnterpriseRequest) (*SelectedActions, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SelectedActions
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminGetAllowedActionsEnterprise")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/permissions/selected-actions"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminGetAuditLogRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	phrase *string
	include *string
	after *string
	before *string
	order *string
	page *int32
	perPage *int32
}

// A search phrase. For more information, see [Searching the audit log](https://docs.github.com/github/setting-up-and-managing-organizations-and-teams/reviewing-the-audit-log-for-your-organization#searching-the-audit-log).
func (r ApiEnterpriseAdminGetAuditLogRequest) Phrase(phrase string) ApiEnterpriseAdminGetAuditLogRequest {
	r.phrase = &phrase
	return r
}

// The event types to include:  - &#x60;web&#x60; - returns web (non-Git) events. - &#x60;git&#x60; - returns Git events. - &#x60;all&#x60; - returns both web and Git events.  The default is &#x60;web&#x60;.
func (r ApiEnterpriseAdminGetAuditLogRequest) Include(include string) ApiEnterpriseAdminGetAuditLogRequest {
	r.include = &include
	return r
}

// A cursor, as given in the [Link header](https://docs.github.com/rest/overview/resources-in-the-rest-api#link-header). If specified, the query only searches for events after this cursor.
func (r ApiEnterpriseAdminGetAuditLogRequest) After(after string) ApiEnterpriseAdminGetAuditLogRequest {
	r.after = &after
	return r
}

// A cursor, as given in the [Link header](https://docs.github.com/rest/overview/resources-in-the-rest-api#link-header). If specified, the query only searches for events before this cursor.
func (r ApiEnterpriseAdminGetAuditLogRequest) Before(before string) ApiEnterpriseAdminGetAuditLogRequest {
	r.before = &before
	return r
}

// The order of audit log events. To list newest events first, specify &#x60;desc&#x60;. To list oldest events first, specify &#x60;asc&#x60;.  The default is &#x60;desc&#x60;.
func (r ApiEnterpriseAdminGetAuditLogRequest) Order(order string) ApiEnterpriseAdminGetAuditLogRequest {
	r.order = &order
	return r
}

// Page number of the results to fetch.
func (r ApiEnterpriseAdminGetAuditLogRequest) Page(page int32) ApiEnterpriseAdminGetAuditLogRequest {
	r.page = &page
	return r
}

// The number of results per page (max 100).
func (r ApiEnterpriseAdminGetAuditLogRequest) PerPage(perPage int32) ApiEnterpriseAdminGetAuditLogRequest {
	r.perPage = &perPage
	return r
}

func (r ApiEnterpriseAdminGetAuditLogRequest) Execute() ([]AuditLogEvent, *http.Response, error) {
	return r.ApiService.EnterpriseAdminGetAuditLogExecute(r)
}

/*
EnterpriseAdminGetAuditLog Get the audit log for an enterprise

Gets the audit log for an enterprise. To use this endpoint, you must be an enterprise admin, and you must use an access token with the `admin:enterprise` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @return ApiEnterpriseAdminGetAuditLogRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminGetAuditLog(ctx context.Context, enterprise string) ApiEnterpriseAdminGetAuditLogRequest {
	return ApiEnterpriseAdminGetAuditLogRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
	}
}

// Execute executes the request
//  @return []AuditLogEvent
func (a *EnterpriseAdminApiService) EnterpriseAdminGetAuditLogExecute(r ApiEnterpriseAdminGetAuditLogRequest) ([]AuditLogEvent, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AuditLogEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminGetAuditLog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/audit-log"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.phrase != nil {
		localVarQueryParams.Add("phrase", parameterToString(*r.phrase, ""))
	}
	if r.include != nil {
		localVarQueryParams.Add("include", parameterToString(*r.include, ""))
	}
	if r.after != nil {
		localVarQueryParams.Add("after", parameterToString(*r.after, ""))
	}
	if r.before != nil {
		localVarQueryParams.Add("before", parameterToString(*r.before, ""))
	}
	if r.order != nil {
		localVarQueryParams.Add("order", parameterToString(*r.order, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminGetConsumedLicensesRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	perPage *int32
	page *int32
}

// The number of results per page (max 100).
func (r ApiEnterpriseAdminGetConsumedLicensesRequest) PerPage(perPage int32) ApiEnterpriseAdminGetConsumedLicensesRequest {
	r.perPage = &perPage
	return r
}

// Page number of the results to fetch.
func (r ApiEnterpriseAdminGetConsumedLicensesRequest) Page(page int32) ApiEnterpriseAdminGetConsumedLicensesRequest {
	r.page = &page
	return r
}

func (r ApiEnterpriseAdminGetConsumedLicensesRequest) Execute() (*GetConsumedLicenses, *http.Response, error) {
	return r.ApiService.EnterpriseAdminGetConsumedLicensesExecute(r)
}

/*
EnterpriseAdminGetConsumedLicenses List enterprise consumed licenses

Lists the license consumption information for all users, including those from connected servers, associated with an enterprise.
To use this endpoint, you must be an enterprise admin, and you must use an access
token with the `read:enterprise` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @return ApiEnterpriseAdminGetConsumedLicensesRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminGetConsumedLicenses(ctx context.Context, enterprise string) ApiEnterpriseAdminGetConsumedLicensesRequest {
	return ApiEnterpriseAdminGetConsumedLicensesRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
	}
}

// Execute executes the request
//  @return GetConsumedLicenses
func (a *EnterpriseAdminApiService) EnterpriseAdminGetConsumedLicensesExecute(r ApiEnterpriseAdminGetConsumedLicensesRequest) (*GetConsumedLicenses, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetConsumedLicenses
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminGetConsumedLicenses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/consumed-licenses"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminGetGithubActionsPermissionsEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
}

func (r ApiEnterpriseAdminGetGithubActionsPermissionsEnterpriseRequest) Execute() (*ActionsEnterprisePermissions, *http.Response, error) {
	return r.ApiService.EnterpriseAdminGetGithubActionsPermissionsEnterpriseExecute(r)
}

/*
EnterpriseAdminGetGithubActionsPermissionsEnterprise Get GitHub Actions permissions for an enterprise

Gets the GitHub Actions permissions policy for organizations and allowed actions and reusable workflows in an enterprise.

You must authenticate using an access token with the `admin:enterprise` scope to use this endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @return ApiEnterpriseAdminGetGithubActionsPermissionsEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminGetGithubActionsPermissionsEnterprise(ctx context.Context, enterprise string) ApiEnterpriseAdminGetGithubActionsPermissionsEnterpriseRequest {
	return ApiEnterpriseAdminGetGithubActionsPermissionsEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
	}
}

// Execute executes the request
//  @return ActionsEnterprisePermissions
func (a *EnterpriseAdminApiService) EnterpriseAdminGetGithubActionsPermissionsEnterpriseExecute(r ApiEnterpriseAdminGetGithubActionsPermissionsEnterpriseRequest) (*ActionsEnterprisePermissions, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ActionsEnterprisePermissions
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminGetGithubActionsPermissionsEnterprise")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/permissions"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminGetLicenseSyncStatusRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
}

func (r ApiEnterpriseAdminGetLicenseSyncStatusRequest) Execute() (*GetLicenseSyncStatus, *http.Response, error) {
	return r.ApiService.EnterpriseAdminGetLicenseSyncStatusExecute(r)
}

/*
EnterpriseAdminGetLicenseSyncStatus Get a license sync status

Gets information about the status of a license sync job for an enterprise.
To use this endpoint, you must be an enterprise admin, and you must use an access
token with the `read:enterprise` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @return ApiEnterpriseAdminGetLicenseSyncStatusRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminGetLicenseSyncStatus(ctx context.Context, enterprise string) ApiEnterpriseAdminGetLicenseSyncStatusRequest {
	return ApiEnterpriseAdminGetLicenseSyncStatusRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
	}
}

// Execute executes the request
//  @return GetLicenseSyncStatus
func (a *EnterpriseAdminApiService) EnterpriseAdminGetLicenseSyncStatusExecute(r ApiEnterpriseAdminGetLicenseSyncStatusRequest) (*GetLicenseSyncStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetLicenseSyncStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminGetLicenseSyncStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/license-sync-status"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminGetProvisioningInformationForEnterpriseGroupRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	scimGroupId string
	excludedAttributes *string
}

// Attributes to exclude.
func (r ApiEnterpriseAdminGetProvisioningInformationForEnterpriseGroupRequest) ExcludedAttributes(excludedAttributes string) ApiEnterpriseAdminGetProvisioningInformationForEnterpriseGroupRequest {
	r.excludedAttributes = &excludedAttributes
	return r
}

func (r ApiEnterpriseAdminGetProvisioningInformationForEnterpriseGroupRequest) Execute() (*ScimEnterpriseGroup, *http.Response, error) {
	return r.ApiService.EnterpriseAdminGetProvisioningInformationForEnterpriseGroupExecute(r)
}

/*
EnterpriseAdminGetProvisioningInformationForEnterpriseGroup Get SCIM provisioning information for an enterprise group

**Note:** The SCIM API endpoints for enterprise accounts are currently in beta and are subject to change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param scimGroupId Identifier generated by the GitHub SCIM endpoint.
 @return ApiEnterpriseAdminGetProvisioningInformationForEnterpriseGroupRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminGetProvisioningInformationForEnterpriseGroup(ctx context.Context, enterprise string, scimGroupId string) ApiEnterpriseAdminGetProvisioningInformationForEnterpriseGroupRequest {
	return ApiEnterpriseAdminGetProvisioningInformationForEnterpriseGroupRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		scimGroupId: scimGroupId,
	}
}

// Execute executes the request
//  @return ScimEnterpriseGroup
func (a *EnterpriseAdminApiService) EnterpriseAdminGetProvisioningInformationForEnterpriseGroupExecute(r ApiEnterpriseAdminGetProvisioningInformationForEnterpriseGroupRequest) (*ScimEnterpriseGroup, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ScimEnterpriseGroup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminGetProvisioningInformationForEnterpriseGroup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scim/v2/enterprises/{enterprise}/Groups/{scim_group_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"scim_group_id"+"}", url.PathEscape(parameterToString(r.scimGroupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.excludedAttributes != nil {
		localVarQueryParams.Add("excludedAttributes", parameterToString(*r.excludedAttributes, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminGetProvisioningInformationForEnterpriseUserRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	scimUserId string
}

func (r ApiEnterpriseAdminGetProvisioningInformationForEnterpriseUserRequest) Execute() (*ScimEnterpriseUser, *http.Response, error) {
	return r.ApiService.EnterpriseAdminGetProvisioningInformationForEnterpriseUserExecute(r)
}

/*
EnterpriseAdminGetProvisioningInformationForEnterpriseUser Get SCIM provisioning information for an enterprise user

**Note:** The SCIM API endpoints for enterprise accounts are currently in beta and are subject to change.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param scimUserId The unique identifier of the SCIM user.
 @return ApiEnterpriseAdminGetProvisioningInformationForEnterpriseUserRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminGetProvisioningInformationForEnterpriseUser(ctx context.Context, enterprise string, scimUserId string) ApiEnterpriseAdminGetProvisioningInformationForEnterpriseUserRequest {
	return ApiEnterpriseAdminGetProvisioningInformationForEnterpriseUserRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		scimUserId: scimUserId,
	}
}

// Execute executes the request
//  @return ScimEnterpriseUser
func (a *EnterpriseAdminApiService) EnterpriseAdminGetProvisioningInformationForEnterpriseUserExecute(r ApiEnterpriseAdminGetProvisioningInformationForEnterpriseUserRequest) (*ScimEnterpriseUser, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ScimEnterpriseUser
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminGetProvisioningInformationForEnterpriseUser")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scim/v2/enterprises/{enterprise}/Users/{scim_user_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"scim_user_id"+"}", url.PathEscape(parameterToString(r.scimUserId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminGetSelfHostedRunnerForEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	runnerId int32
}

func (r ApiEnterpriseAdminGetSelfHostedRunnerForEnterpriseRequest) Execute() (*Runner, *http.Response, error) {
	return r.ApiService.EnterpriseAdminGetSelfHostedRunnerForEnterpriseExecute(r)
}

/*
EnterpriseAdminGetSelfHostedRunnerForEnterprise Get a self-hosted runner for an enterprise

Gets a specific self-hosted runner configured in an enterprise.

You must authenticate using an access token with the `manage_runners:enterprise` scope to use this endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param runnerId Unique identifier of the self-hosted runner.
 @return ApiEnterpriseAdminGetSelfHostedRunnerForEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminGetSelfHostedRunnerForEnterprise(ctx context.Context, enterprise string, runnerId int32) ApiEnterpriseAdminGetSelfHostedRunnerForEnterpriseRequest {
	return ApiEnterpriseAdminGetSelfHostedRunnerForEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		runnerId: runnerId,
	}
}

// Execute executes the request
//  @return Runner
func (a *EnterpriseAdminApiService) EnterpriseAdminGetSelfHostedRunnerForEnterpriseExecute(r ApiEnterpriseAdminGetSelfHostedRunnerForEnterpriseRequest) (*Runner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Runner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminGetSelfHostedRunnerForEnterprise")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/runners/{runner_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"runner_id"+"}", url.PathEscape(parameterToString(r.runnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminGetSelfHostedRunnerGroupForEnterpriseRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterprise string
	runnerGroupId int32
}

func (r ApiEnterpriseAdminGetSelfHostedRunnerGroupForEnterpriseRequest) Execute() (*RunnerGroupsEnterprise, *http.Response, error) {
	return r.ApiService.EnterpriseAdminGetSelfHostedRunnerGroupForEnterpriseExecute(r)
}

/*
EnterpriseAdminGetSelfHostedRunnerGroupForEnterprise Get a self-hosted runner group for an enterprise

Gets a specific self-hosted runner group for an enterprise.

You must authenticate using an access token with the `manage_runners:enterprise` scope to use this endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterprise The slug version of the enterprise name. You can also substitute this value with the enterprise id.
 @param runnerGroupId Unique identifier of the self-hosted runner group.
 @return ApiEnterpriseAdminGetSelfHostedRunnerGroupForEnterpriseRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminGetSelfHostedRunnerGroupForEnterprise(ctx context.Context, enterprise string, runnerGroupId int32) ApiEnterpriseAdminGetSelfHostedRunnerGroupForEnterpriseRequest {
	return ApiEnterpriseAdminGetSelfHostedRunnerGroupForEnterpriseRequest{
		ApiService: a,
		ctx: ctx,
		enterprise: enterprise,
		runnerGroupId: runnerGroupId,
	}
}

// Execute executes the request
//  @return RunnerGroupsEnterprise
func (a *EnterpriseAdminApiService) EnterpriseAdminGetSelfHostedRunnerGroupForEnterpriseExecute(r ApiEnterpriseAdminGetSelfHostedRunnerGroupForEnterpriseRequest) (*RunnerGroupsEnterprise, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RunnerGroupsEnterprise
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminGetSelfHostedRunnerGroupForEnterprise")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprises/{enterprise}/actions/runner-groups/{runner_group_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise"+"}", url.PathEscape(parameterToString(r.enterprise, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"runner_group_id"+"}", url.PathEscape(parameterToString(r.runnerGroupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnterpriseAdminGetServerStatisticsRequest struct {
	ctx context.Context
	ApiService *EnterpriseAdminApiService
	enterpriseOrOrg string
	dateStart *string
	dateEnd *string
}

// A cursor, as given in the [Link header](https://docs.github.com/rest/overview/resources-in-the-rest-api#link-header). If specified, the query only searches for events after this cursor.
func (r ApiEnterpriseAdminGetServerStatisticsRequest) DateStart(dateStart string) ApiEnterpriseAdminGetServerStatisticsRequest {
	r.dateStart = &dateStart
	return r
}

// A cursor, as given in the [Link header](https://docs.github.com/rest/overview/resources-in-the-rest-api#link-header). If specified, the query only searches for events before this cursor.
func (r ApiEnterpriseAdminGetServerStatisticsRequest) DateEnd(dateEnd string) ApiEnterpriseAdminGetServerStatisticsRequest {
	r.dateEnd = &dateEnd
	return r
}

func (r ApiEnterpriseAdminGetServerStatisticsRequest) Execute() ([]ServerStatisticsInner, *http.Response, error) {
	return r.ApiService.EnterpriseAdminGetServerStatisticsExecute(r)
}

/*
EnterpriseAdminGetServerStatistics Get GitHub Enterprise Server statistics

Returns aggregate usage metrics for your GitHub Enterprise Server 3.5+ instance for a specified time period up to 365 days.

To use this endpoint, your GitHub Enterprise Server instance must be connected to GitHub Enterprise Cloud using GitHub Connect. You must enable Server Statistics, and for the API request provide your enterprise account name or organization name connected to the GitHub Enterprise Server. For more information, see "[Enabling Server Statistics for your enterprise](/admin/configuration/configuring-github-connect/enabling-server-statistics-for-your-enterprise)" in the GitHub Enterprise Server documentation.

You'll need to use a personal access token:
  - If you connected your GitHub Enterprise Server to an enterprise account and enabled Server Statistics, you'll need a personal access token with the `read:enterprise` permission.
  - If you connected your GitHub Enterprise Server to an organization account and enabled Server Statistics, you'll need a personal access token with the `read:org` permission.

For more information on creating a personal access token, see "[Creating a personal access token](/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token)."

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param enterpriseOrOrg The slug version of the enterprise name or the login of an organization.
 @return ApiEnterpriseAdminGetServerStatisticsRequest
*/
func (a *EnterpriseAdminApiService) EnterpriseAdminGetServerStatistics(ctx context.Context, enterpriseOrOrg string) ApiEnterpriseAdminGetServerStatisticsRequest {
	return ApiEnterpriseAdminGetServerStatisticsRequest{
		ApiService: a,
		ctx: ctx,
		enterpriseOrOrg: enterpriseOrOrg,
	}
}

// Execute executes the request
//  @return []ServerStatisticsInner
func (a *EnterpriseAdminApiService) EnterpriseAdminGetServerStatisticsExecute(r ApiEnterpriseAdminGetServerStatisticsRequest) ([]ServerStatisticsInner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ServerStatisticsInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EnterpriseAdminApiService.EnterpriseAdminGetServerStatistics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/enterprise-installation/{enterprise_or_org}/server-statistics"
	localVarPath = strings.Replace(localVarPath, "{"+"enterprise_or_org"+"}", url.PathEscape(parameterToString(r.enterpriseOrOrg, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.dateStart != nil {
		localVarQueryParams.Add("date_start", parameterToString(*r.dateStart, ""))
	}
	if r.dateEnd != nil {
		localVarQueryParams.Add("date_end", parameterToString(*r.dateEnd, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

[...]
